<a href="https://colab.research.google.com/github/pradeepA51511/23CSBT27-28/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

mplement Basic Data Structures using Numpy, Pandas

implement Basic Data Structures using Numpy, Pandas

In [6]:
import numpy as np
list=[1,2,3,4,5,]
list1=[6,7,8,9,]
print(list)
print(list1)
print(type(list))
print(type(list1))

[1, 2, 3, 4, 5]
[6, 7, 8, 9]
<class 'list'>
<class 'list'>

In [25]:
list={"geek","for","geek",}
list2="my first lab"
list3=4.3
list4=2j+3
list5='my first lab'
print(type(list2))
print(type(list3))
print(type(list4))
print(type(list5))
print("\nlist items: ")
print(list)
print(type(list))
print(list)
print(list)

<class 'str'>
<class 'float'>
<class 'complex'>
<class 'str'>

list items:
{'for', 'geek'}
<class 'set'>
{'for', 'geek'}
{'for', 'geek'}